.phonebook {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.phonebookMainTittle {
    margin: 0;
}

.phonebookTitle {
    margin: 0;
}